@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лошадки</h1>
    <img src="~/images/hourse.png" width="300" height="200" />

    <h1 class="display-4">Тигр</h1>
    <img src="~/images/tiger.png" width="250" height="150" />
</div>
